<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aria2_Control_Panel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Aria2_Control_Panel.Properties.Settings>
            <setting name="Log_Size" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="Log_Unit_Format" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="App_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Conf_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Run_Time" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Download_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Log_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Session_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Input_file_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Log_Level_Box" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="split" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="max_connection_per_server" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="Conf_File" serializeAs="String">
                <value>save-session-interval=60
force-save=true
remote-time=true
max-concurrent-downloads=5
max-tries=0
retry-wait=10
continue=true
max-overall-download-limit=0
max-overall-upload-limit=50K
max-upload-limit=20
# Http/FTP options
connect-timeout=120
lowest-speed-limit=10K
max-file-not-found=2
min-split-size=1k
check-certificate=false
http-no-cache=true
http-accept-gzip=true
check-integrity=true
download-result=full
# FTP Specific Options
# 當下載的是一個種子(以.torrent結尾)時, 自動開始BT任務, 默認:true
#follow-torrent=true
# BT監聽端口, 當端口被屏蔽時使用, 默認:6881-6999
listen-port=51413
# 單個種子最大連接數, 默認:55
bt-max-peers=55
# 打開DHT功能, PT需要禁用, 默認:true
enable-dht=false
# 打開IPv6 DHT功能, PT需要禁用
#enable-dht6=false
# DHT網絡監聽端口, 默認:6881-6999
#dht-listen-port=6881-6999
# 本地節點查找, PT需要禁用, 默認:false
#bt-enable-lpd=false
# 種子交換, PT需要禁用, 默認:true
enable-peer-exchange=false
# 每個種子限速, 對少種的PT很有用, 默認:50K
#bt-request-peer-speed-limit=50K
# 客戶端偽裝, PT需要
peer-id-prefix=-TR2770-
user-agent=Transmission/2.77
# 當種子的分享率達到這個數時, 自動停止做種, 0為一直做種, 默認:1.0
seed-ratio=1.0
# 強制保存會話, 即使任務已經完成, 默認:false
# 較新的版本開啟後會在任務完成後依然保留.aria2文件
force-save=false
# BT校驗相關, 默認:true
bt-hash-check-seed=true
# 繼續之前的BT任務時, 無需再次校驗, 默認:false
bt-seed-unverified=true
# 保存磁力鏈接元數據為種子文件(.torrent文件), 默認:false
bt-save-metadata=true
# RPC Options
enable-rpc=true
pause=true
rpc-allow-origin-all=true
rpc-listen-all=true
rpc-save-upload-metadata=true

# Advanced Options
daemon=true
disable-ipv6=true
enable-mmap=true
file-allocation=falloc
max-download-result=120
#no-file-allocation-limit=32M
force-sequential=true</value>
            </setting>
        </Aria2_Control_Panel.Properties.Settings>
    </userSettings>
</configuration>